doctype html
html
    head
        meta(name='viewport', content='width=device-width, initial-scale=0.8, maximum-scale=0.8')
        link(href='https://fonts.googleapis.com/css?family=Lato&display=swap', rel='stylesheet')
        style.
            #container {
                width: 800px;
                margin: 0 auto;
                background-color: #ffffff;
            }
            #header {
                width: 600px;
                padding: 25px 0 15px;
                margin: 0 auto;
                border-bottom: 1px solid #334750;
                text-align: center;
            }
            #header img {
                height: 40px;
                width: 128px;
            }
            #content {
                width: 600px;
                margin: 0 auto 40px;
                border-bottom: 1px solid #F8F9F9;
            }
            #content .name {
                margin: 50px 0 30px;
            }
            #content p {
                color: #334750;
                font-family: 'Lato', sans-serif;
                font-size: 18px;
                line-height: 25px;
            }
            a.btn {
                padding: 11px 13px;
                text-decoration: none;
                border-radius: 3px;
                background-color: #334750;
                color: #ffffff;
                font-family: Lato, sans-serif;
                font-size: 16px;
                line-height: 27px;
            }
            a.btn:link,
            a.btn:visited,
            a.btn:active {
                color: #ffffff;
            }
            #footer {
                padding: 34px 100px;
                background-color: #F8F9F9;
                color: #637381;
                font-family: 'Lato', sans-serif;
                font-size: 14px;
                line-height: 20px;
                text-align: center;
            }
            @media screen and (max-width: 575px) {
                #container {
                    width: 375px;
                }
                #header {
                    width: 335px;
                }
                #content {
                    width: 335px;
                }
                #content .name {
                    line-height: 40px;
                }
                #content P {
                    font-size: 16px;
                    line-height: 20px;
                }
                #footer {
                    padding: 34px 20px;
                    font-size: 16px;
                }
            }
        
    body
        #container(style=' width: 800px; margin: 0 auto; background-color: #ffffff;')
            #header(style=' width: 600px; padding: 25px 0 15px; margin: 0 auto; border-bottom: 1px solid #334750; text-align: center;')
                img(style='height: 40px; width: 128px;' src='https://stage-nora-science37.s3-us-west-2.amazonaws.com/public-email-assets/science37-logo-white.png', alt='logo')
            #content(style='width: 600px; margin: 0 auto 40px; border-bottom: 1px solid #F8F9F9;')
                p(style="color: #334750; font-family: 'Lato', sans-serif; font-size: 18px; line-height: 25px; margin: 50px 0 30px") Hello #{firstname},
                p(style="color: #334750; font-family: 'Lato', sans-serif; font-size: 18px; line-height: 25px") Thank you for completing our online screening for the Sucrose Challenge Test and Sucrose Breath Test clinical research study. Based on your initial responses, you may qualify to participate!  A member from our Patient Experience Team will contact you in the next 24 hours via the phone number and e-mail address you provided to complete the full pre-screen questionnaire. Your questionnaire will take approximately 10-15 minutes to complete which will determine if you can then enroll. &nbsp;
                p(style="color: #334750; font-family: 'Lato', sans-serif; font-size: 18px; line-height: 25px") If you are interested to get started earlier or learn more about the study, please contact one of our team members by calling or texting 877-726-3361 or email: headandneckad@science37.com. 
                p(style="color: #334750; font-family: 'Lato', sans-serif; font-size: 18px;line-height: 25px") Thank you for your time and interest! We look forward to discussing the study details with you!
                p(style="color: #334750; font-family: 'Lato', sans-serif; font-size: 18px;line-height: 25px") Kindly,
                    br
                    br
                    span(style="color: #334750; font-family: 'Lato', sans-serif; font-size: 18px; line-height: 25px") The Science 37 Patient Experience Team
            #footer(style="padding: 34px 100px; background-color: #F8F9F9; color: #637381; font-family:'Lato', sans-serif; font-size: 14px; line-height: 20px; text-align: center")
                p Please do not respond to this email, as this inbox is not monitored. This email was automatically sent to you by our system.
                    br
                span Science 37
                div
                    br
                    a(href='https://www.science37.com/privacy-policy/', style='color: #637381; text-decoration: none;') Privacy Policy 