doctype html
html
    head
        meta(name='viewport', content='width=device-width, initial-scale=0.8, maximum-scale=0.8')
        link(href='https://fonts.googleapis.com/css?family=Lato&display=swap', rel='stylesheet')
        style.
            #container {
                width: 800px;
                margin: 0 auto;
                background-color: #ffffff;
            }
            #header {
                width: 600px;
                padding: 25px 0 15px;
                margin: 0 auto;
                border-bottom: 1px solid #334750;
                text-align: center;
            }
            #header img {
                height: 40px;
                width: 128px;
            }
            #content {
                width: 600px;
                margin: 0 auto 40px;
                border-bottom: 1px solid #F8F9F9;
            }
            #content .name {
                margin: 50px 0 30px;
            }
            #content p {
                color: #334750;
                font-family: 'Lato', sans-serif;
                font-size: 18px;
                line-height: 25px;
            }
            a.btn {
                padding: 11px 13px;
                text-decoration: none;
                border-radius: 3px;
                background-color: #334750;
                color: #ffffff;
                font-family: Lato, sans-serif;
                font-size: 16px;
                line-height: 27px;
            }
            a.btn:link,
            a.btn:visited,
            a.btn:active {
                color: #ffffff;
            }
            #footer {
                padding: 34px 100px;
                background-color: #F8F9F9;
                color: #637381;
                font-family: 'Lato', sans-serif;
                font-size: 14px;
                line-height: 20px;
                text-align: center;
            }
            @media screen and (max-width: 575px) {
                #container {
                    width: 375px;
                }
                #header {
                    width: 335px;
                }
                #content {
                    width: 335px;
                }
                #content .name {
                    line-height: 40px;
                }
                #content P {
                    font-size: 16px;
                    line-height: 20px;
                }
                #footer {
                    padding: 34px 20px;
                    font-size: 16px;
                }
            }
    body
        #container
            #header
                img(src='https://stage-nora-science37.s3-us-west-2.amazonaws.com/public-email-assets/science37-logo-white.png', alt='logo')
            #content
                p.name Hi #{firstname},
                p We think it’s great that you’re interested in taking part in a research study - and we appreciate the time you took to sign up. Unfortunately, the Science 37 study you applied for isn’t a fit for you. If you have any questions about why you didn’t match the study  or want more information, please reach out to us at &nbsp;
                    strong recruitment@science37.com.
                    br
                    br
                    span We know that this news can be very disappointing but we want to help you try to match a study in the future.
                    br
                    br
                    span But please don’t let this be goodbye. We will keep your contact and application information on file and reach out should you qualify for another study.
                    br
                    br
                    span If you would like for us to delete your contact information, your application, or both, please contact us at &nbsp;
                    strong privacy@science37.com.
                    br
                    br
                    span We hope you’ll take a look at our open studies (or keep checking back!) and find another study that may be a better fit.
                div(style='text-align: center; margin: 60px 0;')
                    a.btn(href='https://www.science37.com/') View open trials
                p Sincerely,
                    br
                    span The Science 37 Team
            #footer
                p Please do not respond to this email, as this inbox is not monitored. This email was automatically sent to you by our system.
                    br
                span Science 37 - 12121 Bluff Creek Drive Suite 100 Los Angeles, CA 90094
                div
                    br
                    a(href='https://www.science37.com/privacy-policy/', style='color: #637381; text-decoration: none;') Privacy Policy
