doctype html
html
    head
        link(href='https://fonts.googleapis.com/css?family=Lato&display=swap', rel='stylesheet')
    body
        #container(style='width: 600px; margin: 0 auto; background-color: #ffffff;')
            #header(style='width: 390px; padding: 25px 0 15px; margin: 0 105px; border-bottom: 1px solid #334750; text-align: center;')
                img(src='https://s3-us-west-2.amazonaws.com/stage.corp.science37.com/email-assets/s37-logo.png', alt='logo', style='height: 30.67px;	width: 100px;')
            #content(style='width: 390px; padding: 0 105px 74px; border-bottom: 1px solid #F8F9F9;')
                h4(style="height: 32px;	width: 390px;	color: #334750;	font-family: 'Lato', sans-serif; font-weight: normal;	font-size: 26px;	line-height: 32px; margin: 40px 0 30px;") Hi [name],
                p(style="height: 40px;	width: 390px;	color: #334750;	font-family: 'Lato', sans-serif; font-size: 14px;	line-height: 20px;") You're almost there! Come back and complete your screening questionnaire to see if you qualify for our [name of study].
                div(style='text-align: center; margin: 30px 0;')
                    button(style="height: 44px; width: 262px; border-radius: 3px; background-color: #72C600; color: #334750; font-family: 'Lato', sans-serif; font-size: 18px; line-height: 27px;") Complete your screening
                p(style="height: 100px;	width: 390px;	color: #334750;	font-family: 'Lato', sans-serif; font-size: 14px;	line-height: 20px;") If you have any questions or would like more information about our study, let us know at email@science37.com.
                    br
                    br
                    br
                    span Sincerely,
                    br
                    span The Science 37 Team
            #footer(style="width: 390px; padding: 26px 105px; background-color: #F8F9F9; height: 96px; color: #637381; font-family: 'Lato', sans-serif;	font-size: 12px;	line-height: 16px;	text-align: center;")
                p Please do not respond to this email, as this inbox is not monitored. This email was automatically sent to you by our system.
                p Science 37 - 12121 Bluff Creek Drive Suite 100 Los Angeles, CA 90094
                div
                    a(href='#', style='color: #637381; text-decoration: none;') View in Browser
                    span &nbsp;|&nbsp;
                    a(href='https://www.science37.com/privacy-policy/', style='color: #637381; text-decoration: none;') Privacy Policy
