doctype html

if languageCode === 'SPA'

  html
    head
      meta(name='viewport', content='width=device-width, initial-scale=0.8, maximum-scale=0.8')
      link(href='https://fonts.googleapis.com/css?family=Lato:400,100,300,600,700', rel='stylesheet', type='text/css')
    body(style='background-color: #f5f5f5; margin: 0;')
      #main-container(style="background: #fff; font-family: 'Lato', sans-serif; font-size: 13px; color: #73848e; text-align: center; margin: 0 auto; max-width: 620px;")
        #header(style='padding: 50px 0 30px;')
          img(src='https://cdn-science37.s3.amazonaws.com/wp-content/uploads/2017/02/Science-37-Logo@2x.png', border='0', width='250' alt='Science 37')
        #content(style='text-align: left; padding: 20px 70px 120px;')
          h1(style='color: #72c600; font-size: 18.5px; margin: 25px 0; font-weight: normal') Demasiados intentos fallidos de inicio de sesión
          div(style='padding-bottom: 30px; color: #000')
            p Este sistema ha detectado demasiados intentos fallidos de inicio de sesión en su cuenta de NORA y su cuenta se bloqueó. Debe comunicarse con el coordinador del estudio, el representante de Science 37 o el administrador del sistema para que le desbloqueen la cuenta.
            p Una vez que su cuenta se desbloquee, revise su número de teléfono móvil archivado para proteger la privacidad de la cuenta.
          div(style="text-align: center; margin-top: 40px;")
        #footer(style='background-color: #f5f5f5; padding: 0 0 20px 0;')
          div(style='padding: 20px 10px; font-size: 12px; color: #73848e')
            p(style='margin:0') No responda a este correo electrónico. Comuníquese con su administrador del sistema si tiene preguntas.
            p(style='margin:0') Recibió este anuncio obligatorio por correo electrónico para informarle sobre los posibles riesgos de seguridad para su cuenta de NORA.
            p(style='margin:0') Science 37 · 12121 Bluff Creek Drive Suite 100 Los Angeles, CA 90094

else if languageCode === 'ZHS'

  html
    head
      meta(name='viewport', content='width=device-width, initial-scale=0.8, maximum-scale=0.8')
      link(href='https://fonts.googleapis.com/css?family=Lato:400,100,300,600,700', rel='stylesheet', type='text/css')
    body(style='background-color: #f5f5f5; margin: 0;')
      #main-container(style="background: #fff; font-family: 'Lato', sans-serif; font-size: 13px; color: #73848e; text-align: center; margin: 0 auto; max-width: 620px;")
        #header(style='padding: 50px 0 30px;')
          img(src='https://cdn-science37.s3.amazonaws.com/wp-content/uploads/2017/02/Science-37-Logo@2x.png', border='0', width='250' alt='Science 37')
        #content(style='text-align: left; padding: 20px 70px 120px;')
          h1(style='color: #72c600; font-size: 18.5px; margin: 25px 0; font-weight: normal') 尝试登录的失败次数过多
          div(style='padding-bottom: 30px; color: #000')
            p 系统检测到您的 NORA 账户尝试登录的失败次数过多，您的账户现已被锁定。您必须联系研究协调员、Science 37 代表或系统管理员，才能解锁账户。
            p 您的账户解锁后，请核实您档案中记录的手机号，以便保护账户隐私。
          div(style="text-align: center; margin-top: 40px;")
        #footer(style='background-color: #f5f5f5; padding: 0 0 20px 0;')
          div(style='padding: 20px 10px; font-size: 12px; color: #73848e')
            p(style='margin:0') 请勿回复本电子邮件。如有问题，请联系您的系统管理员。
            p(style='margin:0') 这是一封必须要发送给您的电子邮件公告，旨在通知您的 NORA 账户存在潜在安全风险。
            p(style='margin:0') Science 37 · 12121 Bluff Creek Drive Suite 100 Los Angeles, CA 90094

else if languageCode === 'ZHT'

  html
    head
      meta(name='viewport', content='width=device-width, initial-scale=0.8, maximum-scale=0.8')
      link(href='https://fonts.googleapis.com/css?family=Lato:400,100,300,600,700', rel='stylesheet', type='text/css')
    body(style='background-color: #f5f5f5; margin: 0;')
      #main-container(style="background: #fff; font-family: 'Lato', sans-serif; font-size: 13px; color: #73848e; text-align: center; margin: 0 auto; max-width: 620px;")
        #header(style='padding: 50px 0 30px;')
          img(src='https://cdn-science37.s3.amazonaws.com/wp-content/uploads/2017/02/Science-37-Logo@2x.png', border='0', width='250' alt='Science 37')
        #content(style='text-align: left; padding: 20px 70px 120px;')
          h1(style='color: #72c600; font-size: 18.5px; margin: 25px 0; font-weight: normal') 登入失敗次數過多
          div(style='padding-bottom: 30px; color: #000')
            p 系統偵測到您的 NORA 帳號登入失敗次數過多，並已將您的帳號鎖定。您必須聯絡研究負責人、Science 37 代表或系統管理員，才能解鎖帳號。
            p 解鎖帳號後，請檢查系統所記錄的手機號碼，以保護帳號隱私。
          div(style="text-align: center; margin-top: 40px;")
        #footer(style='background-color: #f5f5f5; padding: 0 0 20px 0;')
          div(style='padding: 20px 10px; font-size: 12px; color: #73848e')
            p(style='margin:0') 這個電子郵件地址無法收到回覆。如有疑問，請聯絡系統管理員。
            p(style='margin:0') 強制寄給您這封電子郵件通知，是為了通知您 NORA 帳號具有潛在安全風險。
            p(style='margin:0') Science 37 · 12121 Bluff Creek Drive Suite 100 Los Angeles, CA 90094

else if languageCode === 'JPN'

  html
    head
      meta(name='viewport', content='width=device-width, initial-scale=0.8, maximum-scale=0.8')
      link(href='https://fonts.googleapis.com/css?family=Lato:400,100,300,600,700', rel='stylesheet', type='text/css')
    body(style='background-color: #f5f5f5; margin: 0;')
      #main-container(style="background: #fff; font-family: 'Lato', sans-serif; font-size: 13px; color: #73848e; text-align: center; margin: 0 auto; max-width: 620px;")
        #header(style='padding: 50px 0 30px;')
          img(src='https://cdn-science37.s3.amazonaws.com/wp-content/uploads/2017/02/Science-37-Logo@2x.png', border='0', width='250' alt='Science 37')
        #content(style='text-align: left; padding: 20px 70px 120px;')
          h1(style='color: #72c600; font-size: 18.5px; margin: 25px 0; font-weight: normal') 何度もログインに失敗しました
          div(style='padding-bottom: 30px; color: #000')
            p このシステムでNORAアカウントへのログイン失敗が何度も検出されたため、アカウントがロックされました。アカウントのロックを解除するには、治験コーディネーター、Science 37の担当者、またはシステム管理者に問い合わせる必要があります。
            p アカウントのロックが解除されたら、アカウントのプライバシーを保護するために、登録されている携帯電話番号を確認してください。
          div(style="text-align: center; margin-top: 40px;")
        #footer(style='background-color: #f5f5f5; padding: 0 0 20px 0;')
          div(style='padding: 20px 10px; font-size: 12px; color: #73848e')
            p(style='margin:0') このメールは返信を受け取ることができません。質問がありましたら、システム管理者にお問い合わせください。
            p(style='margin:0') このメールは、お持ちのNORAアカウントにセキュリティリスクの可能性があることをお知らせする義務に基づいて、送信されました。
            p(style='margin:0') Science 37 · 12121 Bluff Creek Drive Suite 100 Los Angeles, CA 90094

else if languageCode === 'KOR'

  html
    head
      meta(name='viewport', content='width=device-width, initial-scale=0.8, maximum-scale=0.8')
      link(href='https://fonts.googleapis.com/css?family=Lato:400,100,300,600,700', rel='stylesheet', type='text/css')
    body(style='background-color: #f5f5f5; margin: 0;')
      #main-container(style="background: #fff; font-family: 'Lato', sans-serif; font-size: 13px; color: #73848e; text-align: center; margin: 0 auto; max-width: 620px;")
        #header(style='padding: 50px 0 30px;')
          img(src='https://cdn-science37.s3.amazonaws.com/wp-content/uploads/2017/02/Science-37-Logo@2x.png', border='0', width='250' alt='Science 37')
        #content(style='text-align: left; padding: 20px 70px 120px;')
          h1(style='color: #72c600; font-size: 18.5px; margin: 25px 0; font-weight: normal') 너무 많이 로그인 시도에 실패했습니다
          div(style='padding-bottom: 30px; color: #000')
            p 시스템이 귀하의 NORA 계정으로 여러 차례의 로그인 시도 실패를 감지하여 계정을 잠갔습니다. 연구 조정자, Science 37 담당자 또는 시스템 관리자에게 연락하여 계정을 잠가야 합니다.
            p 잠긴 계정 상태가 해제되면 등록된 휴대전화 번호를 확인하여 계정의 개인정보를 보호하십시오.
          div(style="text-align: center; margin-top: 40px;")
        #footer(style='background-color: #f5f5f5; padding: 0 0 20px 0;')
          div(style='padding: 20px 10px; font-size: 12px; color: #73848e')
            p(style='margin:0') 이 이메일은 발신 전용입니다. 질문은 시스템 관리자에게 문의하십시오.
            p(style='margin:0') 이 이메일은 NORA 계정에 대한 잠재적 보안 위험을 알리는 필수 이메일 알림입니다.
            p(style='margin:0') Science 37 · 12121 Bluff Creek Drive Suite 100 Los Angeles, CA 90094

else if languageCode === 'IT'

  html
    head
      meta(name='viewport', content='width=device-width, initial-scale=0.8, maximum-scale=0.8')
      link(href='https://fonts.googleapis.com/css?family=Lato:400,100,300,600,700', rel='stylesheet', type='text/css')
    body(style='background-color: #f5f5f5; margin: 0;')
      #main-container(style="background: #fff; font-family: 'Lato', sans-serif; font-size: 13px; color: #73848e; text-align: center; margin: 0 auto; max-width: 620px;")
        #header(style='padding: 50px 0 30px;')
          img(src='https://cdn-science37.s3.amazonaws.com/wp-content/uploads/2017/02/Science-37-Logo@2x.png', border='0', width='250' alt='Science 37')
        #content(style='text-align: left; padding: 20px 70px 120px;')
          h1(style='color: #72c600; font-size: 18.5px; margin: 25px 0; font-weight: normal') Troppi tentativi falliti
          div(style='padding-bottom: 30px; color: #000')
            p Il sistema ha rilevato che i tentativi di accesso falliti al tuo account NORA ha superato il massimo consentito, quindi il tuo account è stato bloccato. Per sbloccare l’account è necessario contattare il coordinatore dello studio, il rappresentante Science 37 o l’amministratore di sistema.
            p Una volta sbloccato l’account, controlla il numero di cellulare registrato per proteggere la privacy dell’account.
          div(style="text-align: center; margin-top: 40px;")
        #footer(style='background-color: #f5f5f5; padding: 0 0 20px 0;')
          div(style='padding: 20px 10px; font-size: 12px; color: #73848e')
            p(style='margin:0') Questa e-mail non è abilitata a ricevere risposte. Per eventuali domande, contatta l’amministratore di sistema.
            p(style='margin:0') Hai ricevuto questo messaggio e-mail obbligatorio per informarti di potenziali rischi per la sicurezza del tuo account NORA.
            p(style='margin:0') Science 37 · 12121 Bluff Creek Drive Suite 100 Los Angeles, CA 90094

else

  html
    head
      meta(name='viewport', content='width=device-width, initial-scale=0.8, maximum-scale=0.8')
      link(href='https://fonts.googleapis.com/css?family=Lato:400,100,300,600,700', rel='stylesheet', type='text/css')
    body(style='background-color: #f5f5f5; margin: 0;')
      #main-container(style="background: #fff; font-family: 'Lato', sans-serif; font-size: 13px; color: #73848e; text-align: center; margin: 0 auto; max-width: 620px;")
        #header(style='padding: 50px 0 30px;')
          img(src='https://cdn-science37.s3.amazonaws.com/wp-content/uploads/2017/02/Science-37-Logo@2x.png', border='0', width='250' alt='Science 37')
        #content(style='text-align: left; padding: 20px 70px 120px;')
          h1(style='color: #72c600; font-size: 18.5px; margin: 25px 0; font-weight: normal') Too Many Failed Login Attempts
          div(style='padding-bottom: 30px; color: #000')
            p This system has detected too many failed attempted logins to your NORA account and your account has been locked. You must contact your Study Coordinator, Science 37 representative, or system administrator to have your account unlocked.
            p Once your account is unlocked, review your mobile phone number on file to protect the privacy of the account.
          div(style="text-align: center; margin-top: 40px;")
        #footer(style='background-color: #f5f5f5; padding: 0 0 20px 0;')
          div(style='padding: 20px 10px; font-size: 12px; color: #73848e')
            p(style='margin:0') This email can't receive replies. Contact your system administrator for questions.
            p(style='margin:0') You received this mandatory email announcement to inform you of potential security risks to your NORA account.
            p(style='margin:0') Science 37 · 12121 Bluff Creek Drive Suite 100 Los Angeles, CA 90094
